<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Define Icons and other info -->
    <Icon Id="DeleteIcon.ico" SourceFile="$(sys.SOURCEFILEDIR)/../Resources/Delete.ico"/>
    <Icon Id="IconFile.ico" SourceFile="$(sys.SOURCEFILEDIR)/../Resources/Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="IconFile.ico" />
    <Property Id="ARPHELPLINK" Value="[APP_HELP_LINK]" />
    
    <!--
      Defined in Setup.wxs, the "TARGETDIR" is not actually created, it's just a crutch
      in WiX to allow the files to share a common root
    -->
    <DirectoryRef Id="TARGETDIR">

      

      <!--
        ProgramFilesFolder is a special name that is resolved to the system's
        programs folder. This entry makes sure that INSTALLDIR, displayed in
        directory selection dialog, initially points to "C:\Program files\MyGame".
        Note that this does not prevent the user from selecting an entirely
        different path like "D:\Games\MyGame".
      -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">
 
        <!--
          Target directory you game will be installed to. Create more <Directory />
          elements below this one to create subdirectories or add <File /> elements
          to add files to a directory
        -->
        
<!--[CONTENT FILE DEFINITIONS HERE]-->


        <!--
        ProgramMenuFolder is a special name that resolves to the start menu folder.
        The files (see below) can indicate that they want a shortcut created in
        another folder. By defining this folder, we can make them put a shortcut
        into the start menu!
        -->
        <Directory Id='ProgramMenuFolder' Name='Programs'>
          <Directory Id='MyGameProgramMenuFolder' Name='[PROGRAM_SHORTCUT_FOLDER_NAME]'>
            <Component Id="StartMenuEntriesComponent" Guid="!replace-this-with-menu-component_id" DiskId="1">
              <Shortcut Id="UninstallProduct" Name="Uninstall [GAME_NAME]" Description="Uninstalls [GAME_NAME]" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Icon="DeleteIcon.ico"/>
              <RemoveFolder Id='MyGameProgramMenuFolder' On='uninstall' />
              <RemoveFolder Id="INSTALLDIR" On="uninstall" />
              <RegistryValue
                Root='HKCU'
                Key='SOFTWARE\[TEAM_NAME]\[GAME_NAME]'
                Type='string'
                Value='Installer HKEY - Generated by XNA Installulator'
                KeyPath='yes'
            />
            </Component>
          </Directory>
        </Directory>

      </Directory>

    </DirectoryRef>

  </Fragment>
</Wix>
